# **Problem 1: Unique Words in a Sentence**

In [ ]:
# Function logic for count and lenght of unique words
def unique_words(sentence):
    fragments = sentence.split()
    Word_Bucket = []

    for i in fragments:
        if i not in Word_Bucket:
            Word_Bucket.append(i)

    print("Unique words count:", len(Word_Bucket))
    print("Unique words:", set(Word_Bucket))


# Giving input sentence
entry_line = input("Enter sentence: ")
unique_words(entry_line)

Enter sentence:  python is easy and python is powerful
Unique words count: 5
Unique words: {'python', 'and', 'is', 'easy', 'powerful'}

## **Problem 2: Highest Salary from Employee Data**

In [ ]:
# Employee dictionary
employees = {
    "Dr. Hathi": 50000,
    "Jethalal": 75000,
    "Iyer": 60000,
    "Sodhi": 72000
}

# Initializing  variables
highest_salary = 0
highest_employee = ""

# Loop through dictionary
for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_employee = name

# Print result

print(f" Higesh Salary : {highest_employee} - {highest_salary}")

 Higesh Salary : Jethalal - 75000

# **Problem 3: Find Maximum and Minimum Values**

In [ ]:

numbers = [45, 22, 89, 10, 66]

# Initializing  max and min with first element of the list
maximum = numbers[0]
minimum = numbers[0]

# Loop through the list
for i in numbers:
    if i > maximum:
        maximum = i
    if i < minimum:
        minimum = i

# Print results
print("Maximum value:", maximum)
print("Minimum value:", minimum)

Maximum value: 89
Minimum value: 10

# **Problem 4: Count Products Above a Price Threshold**

In [ ]:
# Given list
prices = [540, 1300, 890, 1590, 3000]

count = 0

# Loop through prices
for i in prices:
    if i > 1000:
        count += 1

# Print result
print(f"Number of products with price greater than 1000: {count}")

Number of products with price greater than 1000: 3

# **Problem 5: Calculate Attendance Percentage**

In [ ]:
attendance = ["P", "P", "A", "P", "P"]

# logic for counting presence

def presence_ratio(Register):
    attended_days = Register.count("P")
    overall_days = len(Register)
    percentage = (attended_days / overall_days) * 100
    print("Attendance Percentage:", percentage)

# calling the function
presence_ratio(attendance)

Attendance Percentage: 80.0

# **Problem 6: Remove Duplicate Phone Numbers**

In [ ]:

Phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
Unique_phone_numbers = set(Phone_numbers)

# Display unique phone numbers
print(f"Unique phone numbers : {Unique_phone_numbers}")

Unique phone numbers : {9876543210, 9123456789}

# **Problem 7: Count Character Frequency**

In [ ]:

Text = "hello world"

# Dictionary to store character counts
char_count = {}

# Loop through each character
for i in Text:
    if i in char_count:
        char_count[i] += 1  # Increment count if already in dictionary
    else:
        char_count[i] = 1   # Initialize count if not in dictionary

# Display the result
print("Character counts:", char_count)

Character counts: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

# **Problem 8: Convert List to Tuple**

In [ ]:

Numbers = [140, 290, 390]

# Convert list to tuple
Numbers_tuple = tuple(Numbers)

# Display the tuple
print("Tuple:", Numbers_tuple)

Tuple: (140, 290, 390)

# **Problem 9: Check if a Key Exists in a Dictionary**

In [ ]:
# Given dictionary
Student_rollno = {
    "Ramu": 1,
    "Shamu": 2,
    "Chiku": 3
}

# Key to check
key_to_check = "Shamu"

# Check if the key exists
if key_to_check in Student_rollno:
    print("Student exists")
else:
    print("Student does not exist")

Student exists

# **Problem 10: Calculate Average Marks**

In [ ]:
from functools import reduce

def compute_mean(score_bundle):
    aggregate = reduce(lambda x, y: x + y, score_bundle)
    mean_value = aggregate / len(score_bundle)
    print("Average Marks:", mean_value)


marks = [65, 50, 69, 28]
compute_mean(marks)

Average Marks: 53.0